body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;  
}

.version {
  margin: 10px;
  font-size: small;
  font-style: italic; 
}

.remainingLives {
  font-size: smaller;
}

.word {
  font-family: Courier New, Courier, monospace;
	line-height: 30px;
}

.word-loading {
	font-size: small;
	font-style: italic;
	line-height: 30px;
}

.word-loading img {
	margin-right: 5px;
	vertical-align: middle;
}

.letters-row:last-child {
  margin-bottom: 10px;
}

.letter {
  font-family: Courier New, Courier, monospace;
  margin: 2px;
}

.letter-good {
  color: #00ff00;
  background-color: #00ff0020;
}

.letter-bad {
  color: #ff0000;
  background-color: #ff000020;
}
