body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;  
}

.version {
  margin: 10px;
  font-size: small;
  font-style: italic; 
}

@media (max-width: 1024px) and (orientation: landscape) {
  #panes {
    width: 100%;
    display: table; 
  }
  #pane1 {
    width: 40%;
    display: table-cell;
  }
  #pane2 {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
  }
}

.remainingLives {
  font-size: smaller;
}

.word {
  font-family: Courier New, Courier, monospace;
	line-height: 30px;
}

.word-loading {
	font-size: small;
	font-style: italic;
	line-height: 30px;
}

.word-loading img {
	margin-right: 5px;
	vertical-align: middle;
}

.letters-row:last-child {
  margin-bottom: 10px;
}

.letter {
  font-family: Courier New, Courier, monospace;
  margin: 2px;
}

.letter-good {
  color: #00ff00;
  background-color: #00ff0020;
}

.letter-bad {
  color: #ff0000;
  background-color: #ff000020;
}

#gallows {
	background-color: aliceblue;
	margin-bottom: 10px;
}

@media (max-width: 1023px) and (orientation: portrait) {
	#gallows {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 1023px) and (orientation: landscape) {
	#gallows {
		width: 150px;
		height: 150px;
	}
}

@media (min-width: 1024px) {
	#gallows {
		width: 300px;
		height: 300px;
	}
}

line {
	stroke: black;
	stroke-width: 2;
	stroke-linecap: round;
}

circle {
	stroke: black;
	stroke-width: 2;
	fill-opacity: 0;
}

path {
	stroke: black;
	stroke-width: 2;
	fill-opacity: 0;
}

.error-panel {
	margin-top: 10px;
	font-size: small;
	font-style: italic;
	line-height: 30px;
}

.error-panel img {
	margin-right: 5px;
	vertical-align: middle;
}
